.jumbotron4 {
  height: 350px;
  position: relative;
  display: block;
  opacity: 0.95;
  
}

.jumbotron4::after {
  content: "";
  position: absolute;
  background-image: url('./travelling.jpg');
  background-size: cover;
  height: 350px;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

}

.title {
  padding-top: 50px;
  color: black;
  opacity: 1.0;
}

.body {
  color: black;
  font-size: 24px;
  font-weight: 300;
  opacity: 1.0;
}